Q1.
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [2]:
for i in range(4):
    for j in range(i+1):
        print("iNeuron", end = " " )
    print('\n')

iNeuron

iNeuron iNeuron

iNeuron iNeuron iNeuron

iNeuron iNeuron iNeuron iNeuron

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [62]:
n = o = q= 3
x = n-1
for i in range(n):
    o = o-1
    for j in range(o):
        print (" "*(len('iNeuron')), end = "")
    for k in range(i+1):
        print ('iNeuron', end = " "*(len('iNeuron')))
    print ('\n')
for l in range(x):
    q = q-1
    for m in range(l+1):
        print (" "*(len('iNeuron')), end = "")
    for p in range(q):
        print ('iNeuron', end = " "*(len('iNeuron')))
    print('\n')

              iNeuron

       iNeuron       iNeuron

iNeuron       iNeuron       iNeuron

       iNeuron       iNeuron

              iNeuron

In [70]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [71]:
for i in l:
    if type(i)== list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [72]:
for i in l:
    if type(i)== dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [73]:
for i in l:
    if type(i)== tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [74]:
for i in l:
    if type(i)== set:
        print(i)

{45, 4, 5, 23}

In [111]:
for i in l:
    if type(i)==list or type(i)== tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                print (j)
    if type(i) == dict:
        for k,m in i.items():
            if type(k) == int :
                print(k)
            if type(m)==int:
                print(m)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

In [110]:
SUM = 0
for i in l:
    if type(i)==list or type(i)== tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                SUM = SUM+j
    if type(i) == dict:
        for k,m in i.items():
            if type(k) == int :
                 SUM = SUM+k
            if type(m)==int:
                 SUM = SUM+m

print(SUM)

156

In [95]:
for i in l:
    if type(i)== list:
        for j in i:
            if type(j)==int:
                if j%2 == 1:
                    print(j)

1
3

In [96]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [109]:
for i in l:
    if type(i)==list or type(i)== tuple or type(i)==set:
        for j in i:
            if j =='ineuron':
                print (j)
    if type(i) == dict:
        for k,m in i.items():
            if k == 'ineuron' :
                print(k)
            if m=='ineuron':
                print(m)

ineuron
ineuron

In [114]:
l1 = []
for i in l:
    if type(i)==list or type(i)== tuple or type(i)==set:
        for j in i:
            l1.append(j)
    if type(i) == dict:
        for k,m in i.items():
            l1.append(k)
            l1.append(m)
print(l1)
for n in set(l1):
    print (n, ':', l1.count(n))

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']
1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
ineuron : 2
kumar : 1
k1 : 1
8 : 1
data science  : 1
45 : 1
sudh : 1
k3 : 1
23 : 1
k2 : 1

In [116]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [121]:
key_Count = 0
for i in l:
    if type(i) == dict:
        for j in i:
            key_Count = key_Count +1
print('Number of keys in dictionary  =  ' ,key_Count)

Number of keys in dictionary  =   5

In [122]:
for i in l:
    if type(i)==list or type(i)== tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                print (j)
    if type(i) == dict:
        for k,m in i.items():
            if type(k) == str :
                print(k)
            if type(m)==str:
                print(m)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [127]:
for i in l:
    if type(i)==list or type(i)== tuple or type(i)==set:
        for j in i:
            if type(j) == str:
                if j.isalnum():
                    print (j)
    if type(i) == dict:
        for k,m in i.items():
            if type(k)==str:
                if k.isalnum() :
                    print(k)
            if type(m) == str:
                if m.isalnum():
                    print(m)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [128]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [130]:
L_MUL = 1
T_MUL = 1
S_MUL = 1
D_MUL = 1
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                L_MUL = L_MUL* j
    if type(i)== tuple :
        for k in i:
            if type(k)==int:
                T_MUL = T_MUL* k
    if type(i)== set:
        for m in i:
            if type(m)==int:
                S_MUL = S_MUL* m
        
    if type(i) == dict:
        for n,o in i.items():
            if type(n) == int :
                 D_MUL = D_MUL * n
            if type(o)==int:
                 D_MUL = D_MUL * o

print("List_Multiply = ",L_MUL, "Tuple_Multiply = ",T_MUL, "set_Multiply = ", S_MUL,"Dict_Multiply = ",D_MUL )

List_Multiply =  24 Tuple_Multiply =  1814400 set_Multiply =  20700 Dict_Multiply =  1008

In [131]:
l1 = []
for i in l:
    if type(i)==list or type(i)== tuple or type(i)==set:
        for j in i:
            l1.append(j)
    if type(i) == dict:
        for k,m in i.items():
            l1.append(k)
            l1.append(m)
print(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']